@base: 1/100rem;
@fontSize:14px;
@fontColor:#66718a;
@maxWidth:1198*@base;
/**
* Header标题使用的变量
*/
@header-background-color: #2F3B4E;
@header-title-color: #fff;
@header-title-height: 40*@base;
@header-title-fontSize: 32*@base;
